::selection {
  background: #e7a53c;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 2px solid #e7a53c;
  transition: all 0.2s;
  padding-bottom: 3px;
}

a:hover {
  padding-bottom: 0;
}

.disableDecoration ~ a,
.disableDecoration,
.disableDecoration a,
button ~ a {
  border-bottom: none;
}

body {
  font-family: 'Roboto', Times, sans-serif;
  color: #555;
  background-color: #fff;
}

p {
  line-height: 1.7;
  font-size: 1.1em;
}
